<form action="/random_calc">
<label for="min">Minimum</label>
<input id="min" name="min" input type="text" placeholder="E.g. 1.5">
<div>

<form action="/random_calc">
<label for="max">Maximum</label>
<input id="max" name="max" input type="text" placeholder="E.g. 4.5">
<div>

<button>Pick random number</button>
