<h1> Square Root Results </h1>

<dl>
<dt> Number </dt>
  <dd> <%= @number_square %> </dd>
<dt> Square Root </dt>
  <dd> <%= (@number_square ** 0.5).to_f %> </dd>
</dl>

<a href = "/square_root/new"> Calculate another square root </a>
