<form action="/square_root">
<label for="square">Enter a number</label>
<input id="square" name="square" input type="text" placeholder="what number do you want to take the square root of?">
<div>
<button>Calculate square root</button>
